.allButtons {
  font-size: 20px;
  color: white;
  border: solid;
  border-color: white;
  align-items: center;
  padding: 10px 40px;
}

* {
  /* background-image: -webkit-image-set(url('https://static.wikia.nocookie.net/omori/images/f/f8/Battleback_ow_xsbf.png/revision/latest?cb=20210113003733&format=original') 1x); */
  /* background-size: cover; */
  background-color: black;
  color: white;
}

img {
  max-width: 480px;
  width: 100%;
  height: auto;
      display: block;
      margin:20px auto;   
}

.Toy {
  color: white;
  align-items: center;
  position: relative;
  display: none; 
}
.Snack {
  color: white;
  align-items: center;
  position: relative;
  display: none;  
}

.Oskillbutton {
  color: white;
  /* border: solid;
  border-color: white; */
  align-items: center;

  position: relative;
  display: none;
}

.Askillbutton {
  color: white;
  /* border: solid;
  border-color: white; */
  align-items: center;

  position: relative;
  display: none; 
}

.Hskillbutton { /* problem with these ones */
  color: white;
  /* border: solid;
  border-color: white; */
  align-items: center;

  position: relative;
  display: none;
}

.Kskillbutton { /*needs to be moved up by certain pixels */
  display: flex;
  flex-wrap: wrap;
  color: white;
  /* border: solid;
  border-color: white; */
  align-items: center;

  position: relative;
  display: none;
}

#spacebf {
  align-items: center;
}

#textBox {
  align-items: center;
  border-style: solid;
  border-color: white;
  float: inline-start;
  text-align: center;
}

.topCharacters {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

#spaceXBF {
  display:flex;
  justify-content: center;
}
.bottomCharacters {
  display:flex;
  justify-content: space-between; 
  align-items: flex-end; 
  flex-direction: row;
}
.character { 
  border: 5px solid white; /* make border size increase if character is being hovered over */
  width: 200px;
  height:200px;
}
